@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0%;
}

title {
    font-family: 'PT Mono', monospace;
}

.main {
    display: flex;
    background-color: cornsilk;
}


.sidebar {
    /* background-color: brown;*/
    background-color: grey;
    /*width: 188px;*/
    height: 100vh;
    border-top-right-radius: 142px;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.sidebar nav {
    padding: 0px;
}

.sidebar nav li {

    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-align: left;
    font-size: 22px;
    padding: 36px 0px;

}

.sidebar nav li:hover {
    font-size: 24px;
    color: rgb(196, 238, 155);
}


.sidebar nav li a {

    text-decoration: none;
    color: black;
}

.info {
    /* background-color: aqua;*/
    /* background-color: #e7e7e7;*/
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 142px;
    text-align: center;
}

.infocon {
    /* background-color: coral;*/
    background-color: whitesmoke;
    text-align: center;
    width: 71vw;
    height: 57vh;
    margin: 114px auto;
    border-bottom-right-radius: 55px;
    border-top-left-radius: 84px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.abme {
    font-size: 47px;
    font-family: 'PT Mono', monospace;
}

.name {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.about {
    font-size: 22px;
    font-family: 'PT Mono', monospace;
}

.mabt {
    font-size: 15px;
    font-family: 'PT Mono', monospace;
    padding: 11px 0px;
    margin-top: -2px;
}

.devpic img {
    height: 57vh;
}

.buttons button {
    border-radius: 14px;
    padding: 7px 0px;
    width: 125px;
    font-size: 14px;
    margin-top: 33px;
    color: rgb(255 255 255);
    background-color: black;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(255 255 255);
    color: black;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

.sidebargo {
    position: absolute;
    transform: translate(-192px, 0px);
}

@media (max-width: 1234px) {

    .sidebar {
        position: absolute;
        transform: translate(-192px, 0px);
    }


    .infocon {
        height: 100vh;
    }

    .info {
        height: 120vh;
    }

    .myinfo {
        margin: 110px 20px;
    }

    .abme {

        font-size: 91px;
    }

    .name {

        font-size: 69px;
    }

    .about {
        font-size: 39px;

    }

    .mabt {
        font-size: 29px;
    }

    .buttons button {
        padding: 7px 24px;
        width: 224px;
        font-size: 34px;
        margin-top: 33px
    }

    .devpic img {

        height: 46vh;
    }

    .devpic {

        margin-bottom: -289px;
    }
}

.hamburger {
    position: absolute;
    margin: 10px;
}

.ham:hover {
    color: rgb(105, 104, 104);
}

.cross {
    margin-left: 98px;

}