@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0%;
}

title {
    font-family: 'PT Mono', monospace;
}


.main {
    display: flex;
    background-color: cornsilk;
}

.info {
    /* background-color: aqua;*/
    /* background-color: #e7e7e7;*/
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 142px;
    text-align: center;
}

.sidebar {
    /* background-color: brown;*/
    background-color: grey;
    width: 188px;
    height: 100vh;
    border-top-right-radius: 142px;
    color: black;

}

.sidebar nav {
    padding: 0px;
}

.sidebar nav li {

    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-align: left;
    font-size: 22px;
    padding: 36px 0px;

}

.sidebar nav li:hover{
    font-size: 24px;
}


.sidebar nav li a {

    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
    padding: 46px 0px 15px 0px;
    text-align: center
}

p {
    font-size: 20px;
    text-align: center;
    margin-top: -19px;
    margin-bottom: 36px;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.3rem;
    min-width: 300px;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 6px 0;
    margin: 10px 0;
    border-bottom: 3px solid #1b1b32;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 6px 0;
    font-size: 18px;
}

.in1 {
    width: 219px;
    height: 18px;
    font-size: 14px;
}

#first-name, #last-name{
    text-transform: uppercase;
}

.in {
    width: 219px;
    height: 42px;
    font-size: 17px;
}

legend {
    text-align: left;
    font-size: 16px;
}

.sl {
    height: 35px;
    width: 230px;
    font-size: 14px;
}

.bu {
    border-top: 3px solid #1b1b32;
}

.radio {
    flex-direction: row;
}

.inline {
    width: unset;
    margin: -5px 0.5em 0 0;
    vertical-align: middle;
}

.button:hover {
    background-color: rgb(255 255 255);
    color: black;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

.hamburger {
    position: absolute;
    margin: 10px;
}

.ham:hover {
    color: rgb(105, 104, 104);
}

.cross {
    margin-left: 98px;

}

@media (max-width: 1234px) {

    .sidebar {
        position: absolute;
        transform: translate(-192px, 0px);
    }


    .infocon {
        height: 100vh;
    }

    .info {
        height: 120vh;
    }

    .myinfo {
        margin: 110px 20px;
    }

    .abme {

        font-size: 91px;
    }

    .name {

        font-size: 69px;
    }

    .about {
        font-size: 39px;

    }

    .mabt {
        font-size: 29px;
    }

    .buttons button {
        padding: 7px 24px;
        width: 224px;
        font-size: 34px;
        margin-top: 33px
    }

    .devpic img {

        height: 46vh;
    }

    .devpic {

        margin-bottom: -289px;
    }
}

.sidebargo {
    position: absolute;
    transform: translate(-192px, 0px);
}