@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0%;
}

title {
    font-family: 'PT Mono', monospace;
}

.main {
    display: flex;
    background-color: cornsilk;
}

.info {
    /* background-color: aqua;*/
    /* background-color: #e7e7e7;*/
    background-color: wheat;
    width: 86vw;
    height: 100vh;
    border-top-left-radius: 142px;
    text-align: center;
}

.sidebar {
    /* background-color: brown;*/
    background-color: grey;
    width: 188px;
    height: 100vh;
    border-top-right-radius: 142px;
    color: black;

}

.sidebar nav {
    padding: 0px;
}

.sidebar nav li {

    font-family: 'Roboto Mono', monospace;
    list-style: none;
    text-align: left;
    font-size: 22px;
    padding: 36px 0px;

}

.sidebar nav li:hover{
    font-size: 24px;
}


a {

    text-decoration: none;
    color: black;
}

span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.buttons {
    padding: 418px 0px 0px 0px;
    margin-right: 105px;
}

.buttons button {
    border-radius: 14px;
    padding: 7px 0px;
    width: 125px;
    font-size: 14px;
    margin-top: 33px;
    color: rgb(255 255 255);
    background-color: black;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(255 255 255);
    color: black;
    font-family: 'PT Mono', monospace;
    font-weight: bold;
}

.pdfp {
    margin-top: 40px;
}

.pdf {
    height: 70vh;
    width: 59vw;
}

.infocon {
    display: flex;
    justify-content: space-around;
}

.myinfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hamburger {
    position: absolute;
    margin: 10px;
}

.ham:hover {
    color: rgb(105, 104, 104);
}

.cross {
    margin-left: 98px;

}

@media (max-width: 1234px) {

    .sidebar {
        position: absolute;
        transform: translate(-192px, 0px);
    }


    .infocon {
        height: 100vh;
    }

    .info {
        height: 120vh;
    }

    .myinfo {
        margin: 110px 20px;
    }

    .abme {

        font-size: 91px;
    }

    .name {

        font-size: 69px;
    }

    .about {
        font-size: 39px;

    }

    .mabt {
        font-size: 29px;
    }

    .buttons button {
        padding: 7px 24px;
        width: 224px;
        font-size: 34px;
        margin-top: 33px
    }

    .devpic img {

        height: 46vh;
    }

    .devpic {

        margin-bottom: -289px;
    }
}

.sidebargo {
    position: absolute;
    transform: translate(-192px, 0px);
}